body {
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 20px;
    padding: 20px;
    color: #fff;
}

.carousel-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 420px;
    height: 420px;
    padding: 80px 40px;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 325px;
}

.form-control:focus {
    outline: none;
    border-color: rgba(255, 247, 247, 0.5);
    background: rgba(243, 240, 240, 0.2);
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    margin: 0 0 20px 0;
    color: #ecdada;
    text-transform: uppercase;
    font-size: 34px;
}

.form-group {
    margin-top: 25px;
}

.form-group label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 9px;
    display: block;
}

.contact-form input {
    width: 100%;
    margin-bottom: 8px;
}

.form-group p {
    font-style: normal;
    color: oldlace;
    margin-bottom: 8.5px;
}

.contact-form input[type=email],
.contact-form input[type=password] {
    border: none;
    border-bottom: solid#faf7f7;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 3px;
    gap: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    height: 40px;
}

.btn-primary:hover {
    background: #0056b3;
    gap: 16px;
}